# Compiled class files
*.class

# Package files
*.jar
*.war
*.ear

# NetBeans build folders
/build/
/dist/
/nbbuild/
/nbdist/

# NetBeans private settings
/nbproject/private/

# Temporary files
*.log
*.tmp
*.swp
*~

# OS files
.DS_Store
Thumbs.db
/BaseballTransferManager/nbproject/private/
